.add-event-body {
    border-radius: 5rem;
    background-color: #ffffff;
    padding: 2rem;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-control-date {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
}

#addEventGoBackButton {
    margin-bottom: 0.5em;
}